<div id="<%= dom_id employee %>">
  <p>
    <strong>Name employee:</strong>
    <%= employee.name_employee %>
  </p>

  <p>
    <strong>City:</strong>
    <%= employee.city_id %>
  </p>

  <p>
    <strong>Function:</strong>
    <%= employee.function_id %>
  </p>

  <p>
    <strong>State:</strong>
    <%= employee.state_id %>
  </p>

</div>
